<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       name="Psalm for PHP Rade DI"
       useDocblockTypes="true"
       errorLevel="3"
       strictBinaryOperands="false"
       rememberPropertyAssignmentsAfterCall="true"
       checkForThrowsDocblock="false"
       throwExceptionOnError="0"
       ensureArrayStringOffsetsExist="true"
       ensureArrayIntOffsetsExist="false"
       resolveFromConfigFile="true"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="vendor/vimeo/psalm/stubs/Php80.php"/>
    </stubs>

    <issueHandlers>
        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <referencedFunction name="SplObjectStorage::offsetGet"/>
            </errorLevel>
        </PossiblyInvalidArgument>

        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <file name="src/Container.php"/>
            </errorLevel>
        </ArgumentTypeCoercion>

        <InvalidThrow>
            <errorLevel type="suppress">
                <referencedClass name="Psr\Container\NotFoundExceptionInterface"/>
                <referencedClass name="Psr\Container\ContainerExceptionInterface"/>
            </errorLevel>
        </InvalidThrow>
    </issueHandlers>
</psalm>
