<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       name="Psalm for PHP Rade DI"
       useDocblockTypes="true"
       errorLevel="8"
       strictBinaryOperands="false"
       rememberPropertyAssignmentsAfterCall="true"
       checkForThrowsDocblock="false"
       throwExceptionOnError="0"
       ensureArrayStringOffsetsExist="true"
       ensureArrayIntOffsetsExist="false"
       resolveFromConfigFile="true"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PossiblyInvalidArrayAssignment>
            <errorLevel type="suppress">
                <file name="src/Traits/ResolveTrait.php"/>
            </errorLevel>
        </PossiblyInvalidArrayAssignment>

        <InvalidThrow>
            <errorLevel type="suppress">
                <referencedClass name="Psr\Container\NotFoundExceptionInterface"/>
                <referencedClass name="Psr\Container\ContainerExceptionInterface"/>
            </errorLevel>
        </InvalidThrow>

        <InvalidCatch>
            <errorLevel type="suppress">
                <referencedClass name="Psr\Container\ContainerExceptionInterface"/>
            </errorLevel>
        </InvalidCatch>

        <UndefinedMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Rade\DI\Services\ServiceProviderInterface::getid"/>
                <file name="src/Loader/YamlFileLoader.php"/>
            </errorLevel>
        </UndefinedMethod>

        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <file name="src/Builder/CodePrinter.php"/>
                <file name="src/Definition.php"/>
                <referencedProperty name="Rade\DI\Loader\YamlFileLoader::$yamlParser" />
            </errorLevel>
        </PropertyNotSetInConstructor>

        <PossiblyUndefinedStringArrayOffset>
            <errorLevel type="suppress">
                <file name="src/ContainerBuilder.php"/>
            </errorLevel>
        </PossiblyUndefinedStringArrayOffset>
    </issueHandlers>
</psalm>
